body {
  background-color: #403650; }

h1 {
  font-size: 2.25rem;
  margin-bottom: 0; }

.navbar {
  background-color: #403650; }

.site-footer {
  background-color: #403650;
  color: white; }

.container {
  margin: 1rem auto; }

#splash {
  max-width: 100%;
  min-height: 700px;
  background: url("../img/gear.jpg") center;
  background-size: cover; }
  #splash .row {
    height: 600px; }

#rosterHighlight {
  background-color: #a5a1b9; }

#mediaCarousel {
  padding: 0; }
  #mediaCarousel img {
    width: 100%; }

#eventHighlight {
  background-color: #a5a1b9; }
