$color-primary: rgb(64, 54, 80);
$color-secondary: rgb(165, 161, 185);
$color-transparent-black: rgba(0, 0, 0, 0.5);

body {
    background-color: $color-primary;
}

h1 {
    font-size: 2.25rem;
    margin-bottom: 0;
}

.navbar {
    background-color: $color-primary;
}

.site-footer {
    background-color: $color-primary;
    color: white;
}

.container {
    margin: 1rem auto;
}

#splash {
    max-width: 100%;
    min-height: 700px;
    background: url('../img/gear.jpg') center;
    background-size: cover;

    .row {
        height: 600px;
    }
}

#rosterHighlight {
    background-color: $color-secondary;
}

#mediaCarousel {
    padding: 0;
    img {
        width: 100%;
    }
}

#eventHighlight {
    background-color: $color-secondary;
}